@import "../AppStyle.css";
.pantry-section {
    padding: 10px;
}

.item {
    text-align: left;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--main-divs-color);
    margin: 10 px;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
}

ul:nth-child(even) {
    background-color: var(--header-footer-border-color);
}

button {
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid var(--font-color-1);
    transition: box-shadow 0.2s ease-in-out;
}