@import "../AppStyle.css";

.pantry-section *{
    text-align: left;
}

.item{
   
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    padding: 0; 
    background-color: var(--main-divs-color);
    margin: 10 px;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
}

ul:nth-child(even) {
    background-color: var(--header-footer-border-color);
}