@import "../AppStyle.css";

.add-item-section {
    padding-left: 20px;
    padding-right: 20px;
}

.add-item-section * {
    font-family: var(--content-font);
    color: var(--font-color-1);
}

button {
    background-color: var(--header-footer-border-color);
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    width: 100px;
    margin-left: 5px;
}