:root {
    --font-color-1: #388087;
    --font-color-2: #6FB3B8;
    --background-color: #F6F6F2;
    --header-footer-border-color: #C2EDCE;
    --main-divs-color: #BADFE7;
    --content-font: 'Oswald', sans-serif;
    --headers-font: 'Oswald', sans-serif;

    
}