:root {
    --font-color-1: #211710;
    --font-color-2: #bfb5ab;
    --background-color-1: #d5d5d5;
    --background-color-2: #d5d5d5;
    --header-footer-border-color: #262418;
    --main-divs-color-1: rgba(153, 151, 130, 0.9);
    --main-divs-color-2: rgba(38, 36, 24, 0.9);
    --content-font: 'Roboto Condensed', sans-serif;
    --headers-font: 'Sacramento', cursive;

    
}