@import 'AppStyle.css';
body {
  margin: 0;
  background-image: url('https://i.ibb.co/frkr3jT/ehud-neuhaus-s-HRw6n0n-LRw-unsplash.jpg');
  background-size: cover;
}

body * {
  font-family: var(--content-font);
  box-sizing: border-box;
  font-family: var(--content-font);
  line-height: 1.5;
}

