@import "AppStyle.css";
body {
  margin: 0;
  background-color: var(--background-color);
}

body * {
  font-family: var(--content-font);
  color: var(--font-color-1);
  box-sizing: border-box;
  font-family: var(--content-font);
  color:var(--font-color-1);
  line-height: 1.5;
}

